body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    background-size: cover;
}
header img{
    height: 150px;
}
header{
    display: flex;
    height: 55px;
    position: fixed;
    text-align:center;
    background: linear-gradient(red, darkorange);
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-shadow:3px 3px 3px 3px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.img5{
    height: 60px;
    width: 62px;
    margin-left: 24px;
}
section.home{
    height: 1000px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url("img1.jpeg");
    box-shadow: 5px 5px 5px 5px;
    padding: 80px 20px;
}
.containerhome{
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.Kimchi{
    font-size: 80px;
    color:black;
    margin-bottom: 10px;
}
.deskBiotech{
    color:black;
    font-size: 20px;
}
section.about{
    height: 1000px;
    text-align: center;
    font-family: 'Days One';
    background-color:#EEEEEE;
    box-shadow: 5px 5px 5px 5px;
    padding: 80px 20px;
}
.project-container {
  display: flex;
  padding-top: 25px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  background:#FFFFFF;
  text-align: left;
  padding: 60px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-15px);
}
.project-container img{
    height: auto;
    margin-right: 20px;
    margin-left: 145px;
    transition: 0.3s;
    border-radius: 50px 150px 50px 150px;
}
.img2:hover{
    transform: translateY(-10px);
}
section.howto{
    height:900px;
    box-shadow: 2px 2px 5px 1px inset rgb(255, 255, 255);
    padding: 80px 20px;
    background-image: url("img6.png");
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat; /* ❗ penting */
    background-size: cover;       /* ❗ penting */
    background-position: center;

    animation: bgGerak 5s linear infinite;
}
@keyframes bgGerak {
    from{
        background-position:center bottom;
    }
    to{
        background-position: center top;
    }
}
.howto img{
    height: 550px;
    transition: 0.3s;
}
.howto img:hover{
    transform: translateY(-15px);
}
.containerhowto{
    display: flex;
    width: 60%;
    margin: auto;
    text-align:justify;
}
.dokumentasi{
    margin: 20px;
}
.dokumentasi img{
    border-radius: 150px 50px 150px 50px;
}
section.profile{
    background: linear-gradient(white, gray);
    box-shadow: 20px 20px 20px 20px;
    padding: 80px 20px;
}
.cardprofile{
    background: linear-gradient(red, darkorange);
    padding: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.cardprofile:hover {
  transform: translateY(-15px);
}
.imgprofile img{
    width: 100%;
    height: 100%;
    border-radius: 120px 30px 120px 30px;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    color:black;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 24px;
    transition: 0.3s ease;
    display: inline-block;
}
.medsos a:hover{
    background-color: #d30000;
    color:#EEEEEE;
    transform: translateY(-5px);
}
nav{
    margin-top: 10px;
    justify-content: space-between;
    padding-right: 40px;
}
nav a{
    text-decoration: none;
    margin-left: 7px;
    padding:5px 15px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    border-radius: 0px 20px 0px 20px;
    transition: 1s;
    &:hover{
        color:black;
    }
}
nav a:hover{
    color:yellow;
    background-color:black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px;
    transition: 0,5s;
}
.button{
    display:inline-block;
    padding: 12px 30px;
    background-color:#d30000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}
.button:hover{
    transform: translateX(10px);
}
img{
    width: 400px;
    height: 400px;
}